rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isAuthenticated() &&
        (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin' ||
         request.auth.token.email == "pontelikes14@gmail.com");
    }

    match /users/{userId} {
      allow read: if isAuthenticated() && (isOwner(userId) || isAdmin());
      allow create, update: if isOwner(userId) && (request.resource.data.role == 'client' || isAdmin());
    }

    match /services/{serviceId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /professionals/{proId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /settings/{doc} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /blocked_slots/{slotId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /occupied_slots/{slotId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }

    match /appointments/{appointmentId} {
      allow read: if isAuthenticated() && (resource.data.uid == request.auth.uid || isAdmin());
      allow create: if isAuthenticated() && request.resource.data.uid == request.auth.uid;
      allow update: if isAuthenticated() && (resource.data.uid == request.auth.uid || isAdmin());
      allow delete: if isAdmin();
    }
  }
}
