@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-primary: #7D3C98;
  --color-brand-secondary: #F4ECF7;
  --color-brand-bg: #F4F6F8;
  --color-brand-card: #FFFFFF;
  --color-brand-border: #E0E6ED;
  --color-brand-text-dark: #2C3E50;
  --color-brand-text-muted: #7F8C8D;
  --color-brand-accent: #E74C3C;
}

@layer base {
  body {
    @apply bg-brand-bg font-sans text-brand-text-dark;
  }
}
